html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.map-container {
    height: calc(100% - 56px);
    background-color: darkgrey;
}

#map {
    height: 100%;
}

.date {
    z-index: 1001;
    position: absolute;
    width: 450px;
    height: 100%;
    background-color: #343a40;
    color: white;
    top: 0px;
    left: 0px;
    text-align: center;
    opacity: 0.75;
    overflow: auto;
}

.nano {
    background: #343a40;
    width: 500px;
    height: 500px;
}

.nano .nano-content {
    padding: 10px;
}

.nano .nano-pane {
    background: #888;
}

.nano .nano-slider {
    background: #007bff !important;
}

@media only screen and (max-width: 900px) {
    .date {
        display: none;
    }
}